@tailwind base;
@tailwind components;
@tailwind utilities;

/* #242942 dark blue sidebar */

::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255, 0, 0, 0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255, 0, 0, 0.4);
}

.custom-gradient-text {
    /* background: linear-gradient(to right, #0369a1, #0ea5e9); */
    background: linear-gradient(to right, #1b0983, #175bee);
    background: linear-gradient(to right, #1e40af, #3b82f6);
    background: linear-gradient(to right, #1e3a8a, #3b82f6);
    background: linear-gradient(to right, #2549ac, #3b82f6);
    background-clip: text;
    color: transparent;
    display: inline-block;
}
